bower_components
node_modules
.idea

other/divider.psd

other/htaccess.txt

.DS_Store

bare.html

npm-debug.log

_site
.jekyll
.jekyll-metadata
.bundle
.sass-cache
## Gemfile
Gemfile.lock
package.json
